---
import { i18nUtils } from '../i18n/i18nUtils';
import { getRelativeLocaleUrl } from 'astro:i18n';
import Head from '../components/Head.astro';

Astro.response.status = 404;

const locales = ['de', 'en'];
const pathParts = Astro.url.pathname.split('/').filter(p => p);
let lang = 'de';
if (pathParts.length > 0 && locales.includes(pathParts[0])) {
  lang = pathParts[0];
}

const t = i18nUtils.getTranslations(lang);
const siteDescription = t.common.siteDescription;

import '../styles/style.css';
---

<html lang={lang}>
<head>
    <Head title={t.page404.title} description={siteDescription}/>
</head>
<body>
<div class="content-wrapper">
    <div class="flex flex-col items-center justify-center text-center h-screen">
        <h1 class="text-4xl font-bold">{t.page404.title}</h1>
        <p class="text-lg mt-4">{t.page404.body}</p>
        <a href={`/${lang}`} class="text-lg mt-4">{t.page404.goToHomepage}</a>
    </div>
</div>
</body>
</html>