---
import {i18nUtils} from '../../i18n/i18nUtils';
import {getRelativeLocaleUrl} from 'astro:i18n';

export async function getStaticPaths() {
    return [
        {params: {lang: 'de'}},
        {params: {lang: 'en'}}
    ];
}

const {lang} = Astro.params;
const translations = i18nUtils.getTranslations(lang);
const siteTitle = translations.common.siteTitle;
const siteDescription = translations.common.siteDescription;


import LanguageSwitch from '../../components/LanguageSwitch.astro';

const deUrl = getRelativeLocaleUrl('de', 'explorer');
const enUrl = getRelativeLocaleUrl('en', 'explorer');
import '../../styles/style.css';
import '../../styles/explorer.css';
import Head from '../../components/Head.astro';
import MOXRGlbExplorer from '../../components/MOXRGlbExplorer.astro';
---

<html lang={lang}>
<head>
    <Head title={siteTitle} description={siteDescription}/>
</head>
<body>
<div class="content-wrapper">
    <h1>{translations.explorerPage.title}</h1>
    <div class="controls">
        <LanguageSwitch lang={lang} slug="explorer" />
        <a href={getRelativeLocaleUrl(lang)} class="home-link">{translations.common.home}</a>
    </div>

    <MOXRGlbExplorer t={translations.explorerPage}></MOXRGlbExplorer>
</div>
</body>
</html>
